<!DOCTYPE html>
<html>
    <head>
        <title>Login and Registration Assingment</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            .green {
                color: green;
                height: 50px;
                text-align: center;
                padding: 20px;
                list-style-type: none;
    
            }
        </style>
    </head>
    <body>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              <ul class=flashes>
              {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
        <h2>Welcome, you've been logged in!</h2>
        <h6><a href="/logout">Logout(this should clear the session I think)</a></h6>
    </body>
</html>